
h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
}

p {
    margin-top: 100px;
  line-height: 1.55;
  color: #333;
  font-size: 30px;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
}

h1 {
  
 
  color: red;
 
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}



/* ==================================================
  General
  ================================================== */
.tabla{ border: 5; color: #fff;}